apiVersion: apps/v1
kind: Deployment
metadata:
  name: go-app
spec:
  replicas: 3
  selector:
    matchLabels:
      app: go-app
  template:
    metadata:
      labels:
        app: go-app
    spec:
      containers:
        - name: go-app
          image: docker101-golang-server:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8090
          env:
            - name: DB_HOST
              value: mysql-service
            - name: DB_PORT
              value: "3306"
            - name: DB_USER
              value: root
            - name: DB_PASSWORD   # Dodaj hasło DB jeśli potrzebujesz
              value: rootpassword
            - name: DB_NAME
              value: mydb
---
apiVersion: v1
kind: Service
metadata:
  name: go-app-service   # nazwa, której używasz w minikube
spec:
  type: NodePort
  selector:
    app: go-app
  ports:
    - port: 8090
      targetPort: 8090
